<h1> <%= @location.name %> - <%= @location.city %> </h1>

<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>

<ul>
<% @visits.each do |visit| %>
	<li> <%= "#{visit.user_name} #{visit.tlf} #{visit.from_date} #{visit.to_date}" %> 
		<%= link_to 'edit visit', edit_location_visit_path(@location, visit) %>
		<%= link_to 'delete visit', location_visit_path(@location, visit), method: 'delete', data: {confirm: "r u sure?"} %></li>
	<% end %>

<%= link_to 'new visit', new_location_visit_path(@location.id) %>
<%= link_to 'back to locations', locations_path %>
</ul>
