<h1>create a new visit at <%= @location.name %> </h1>

<% if flash[:error] %>
 <%= flash[:error] %>
<% end %>

<% if @visit.errors.any? %>
<ul>
	<% @visit.errors.full_messages.each do |error_message| %>
	<li> <%= error_message %> </li>
	<% end %>
</ul>
<% end %>


<%= form_for [@location, @visit] do |f| %>
	<%= f.select :user_id, User.all.map { |user| [user.name, user.id]} %>
	<%= f.label :from_date %>
	<%= f.datetime_select(:from_date, default: Time.now + 1.days) %>
	<%= f.label :to_date %>
	<%= f.datetime_select(:to_date, default: Time.now + 1.days) %>
	<%= f.submit "sendsendsend!" %>

	<%= link_to 'cancel', location_visits_path(@location.id) %>
<% end %>