<h1>add a new location</h1>

<% if flash[:error] %>
 <%= flash[:error] %>
<% end %>

<% if @location.errors.any? %>
<ul>
	<% @location.errors.full_messages.each do |error_message| %>
	<li> <%= error_message %> </li>
	<% end %>
</ul>
<% end %>

<%= form_for [@location] do |f| %>
	<div><%= f.label :name %>
	<%= f.text_field :name %></div>
	<div><%= f.label :latitud %>
	<%= f.text_field :latitud %>
	<%= f.label :longitud %>
	<%= f.text_field :longitud %></div>
	<div><%= f.label :city %>
	<%= f.text_field :city %>
	<%= f.label :country %>
	<%= f.text_field :country %></div>
	<div><%= f.label :zip_code %>
	<%= f.text_field :zip_code %></div>
	<div><%= f.label :description %>
	<%= f.text_field :description %></div>
	<div> <%= f.submit "sendsendsend!" %></div>

	<% end %>